/** Styles for the iCopyright Article Tools */

div.icopyright-article-tools-horizontal {
    padding: 0 5px 0 5px;
}
div.icopyright-article-tools-vertical {
    padding: 0 5px 0 5px;
}
div.icopyright-article-tools-right {
    float: right;
}
div.icopyright-article-tools-left {
    float: left;
}
a.icopyright-article-tools-noscript {
    float: right;
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a.icopyright-interactive-notice {
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}